<!DOCTYPE html>
<html>
<head>
  <title>Quizzes</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Welcome to Quizzes</h1>
<p>Esta vista de quizzes esta hecha por Javier Guijarro Benitez</p>
<ul>
    <%for(let i = 0; i < quizzes.length; i++) { %>
  <li>
      <%= quizzes[i].question;%>: <%= quizzes[i].answer;%>
  </li>
    <%}%>
</ul>
<a href="/">Home</a>
<a href="/credits">Credits</a>
</body>
</html>
